* {
  margin: 0;
  padding: 0;
}
#container {
  height: 60vh;
  text-align: center;
  margin-left: 30vw;
  width: 40vw;
}
button {
  width: 15vw;
  height: 9vh;
  border-radius: 10px;
  margin: 1em;
  background-color: black;
  color: aliceblue;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  animation: borderradiate 2s;

  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}
#child {
  border: solid 2px white;
  background-image: linear-gradient(to left, black, grey, white);

  font-weight: bold;
}
#subcontainer {
  display: grid;
  width: 100vw;
  grid-template-columns: auto auto auto auto;
}
#length-input {
  width: 10vw;
  height: 7vh;
  font-size: 2vw;
  margin: 1em;
  background-color: lightgrey;
  border: none;
  text-align: center;
}
#length-input:focus {
  -appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}
