* {
  padding: 0;
  margin: 0;
}
#container {
  width: 100%;
  height: 100vh;
}

button {
  margin-left: 40vw;
  width: 20vw;
  font-size: 0.8em;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  transition: all 2s;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  transition: all 2s;
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  transition: all 2s;
}
button:hover {
  color: #e8e8e8;
}

button:hover::after {
  width: 100%;
}
button:hover::before {
  width: 100%;
}
#length-input {
  font-size: 3vw;
  text-align: center;
  margin-left: 48vw;
  background-color: #dadada;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 5vw;
  height: 6vh;
}
h4,
h1 {
  margin: 2vw;
  text-align: center;
}
#password-container {
  font-size: 1em;
  display: grid;
  grid-template-columns: auto auto;
}
#child {
  border: 1px solid white;
  text-align: center;
  background-color: black;
  color: white;
}
